<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>

<body>
    <div align="center">
        <form action="">
            <table border="1" cellspacing="0"  style="height: 350px; width: 350px;color: #000;">
                <tr>
                    <td>
                        Email Id : <input type="text" id="name" placeholder="Enter Email"><br><br>
                        Username : <input type="text" id="uname" placeholder="Enter Username"><br><br>
                        <button id="logbtn">Login</button>
                    </td>
                </tr>


            </table>
        </form>
    </div>
</body>

</html>